<div class="max-w-3xl mx-auto">
  <div class="text-2xl md:text-5xl font-semibold px-4 md:px-0">
    Core Team
  </div>
</div>
<div class="max-w-3xl mx-auto">
  <div class="w-full p-4">
    <div class="p-4 border-2 border-red-800 rounded-lg bg-red-100 px-4 py-6 md:px-6 rounded shadow">
      <div class="font-semibold text-md md:text-3xl">
        Call For Engineering Volunteers
      </div>
      <div class="text-md md:text-lg">
        <p class="mt-4">
          Personal Invitation to Join the Core Team of Volunteers building the CoronaSafe Network with full cooperation
          and understanding of Chief Minister, Government of Kerala
        </p>
        <p class="mt-4">
          CoronaSafe Network is an open-source public utility designed by a multidisciplinary team of volunteers along
          with the Chief Ministers Officer and Administrative Officers of the Government of Kerala.
        </p>
        <p class="mt-4">
          Your role is to put your specific skills to use in tight alignment to the War Strategy but function with full
          independence in your area of contribution.
        </p>
        <p class="mt-4">
          The first volunteer who foresaw the situation unfolding started work on 10th March 2020.
        </p>
        <p class="mt-4">
          Thus, there would be some context that you would be missing based on when you are joining the core team.
        </p>
        <p class="mt-4">
          It would be our endeavour to get you up-to speed as quickly as possible.
        </p>
        <p class="mt-4">
          Welcome onboard!
        </p>
        <p class="mt-4">
          संजय विजय कुमार
        </p>
        <p class="mt-4">
          Commander, CoronaSafe Network
        </p>
      </div>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfmnyx0brs8VOiQySQ4qN-o2DJX5pzcRZG6AOfJeGyQjMNTEQ/viewform?usp=sf_link" target="_blank" class="btn-primary btn mt-4 ">
        Join The Core Team
      </a>
    </div>
  </div>
</div>