<div class="max-w-3xl mx-auto">
  <div class="text-2xl md:text-5xl font-semibold px-4 md:px-0">
    Data Scientist Call
  </div>
</div>
<div class="max-w-3xl mx-auto">
  <div class="mt-4">
    <div>
      <div class="w-full p-4">
        <div class="p-4 border-2 border-blue-800 rounded-lg bg-blue-200 px-4 py-6 md:px-6 rounded shadow">
          <a id="bodhi" class="font-semibold text-md md:text-3xl">
            Volunteer Data Scientist
          </a>
          <div class="text-md md:text-lg">
            <p class="mt-4">
              State Disaster Management Authority (SDMA) invites application for Data Science volunteers with expertise
              in below-mentioned areas: <br><br>
              What you will do:<br>
              1. Mathematical modelling of the epidemic curve for COVID-19 outbreak<br>
              2. Data Analysis, Capacity Planning<br>
              3. Bayesian Statistics<br>
              4. Previously worked on "what if" analysis<br>
              5. Clustering and segmentation<br>
              6. Proficiency in R/Python and Pandas/SQL<br>
              7. Data Wrangling: Should be able to clean data and parse data from documents<br>
              <br><br>
              You will enjoy this position if you<br>
              1. Have the courage and genuine curiosity to learn new modelling techniques and be part of a select<br>
              like-minded individuals<br>
              2. Want to play detective finding clues from data<br>
              3. Want to work on a reallife-realtime data science project<br>
              4. Enjoy summarising your findings with actionable insights<br>
              <br><br>
              We encourage applications from candidates with diverse backgrounds, experiences, and identities.
            </p>
          </div>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeJ-uuiDwLJUCyOAZhqSu9nd-aQdLIcutC4o1RnLQ5b7DNhSw/viewform" target="_blank" class="btn-primary btn mt-4 ">Apply
            Now
          </a>
        </div>
      </div>
    </div>
  </div>
</div>