<div class="max-w-3xl mx-auto">
  <div class="text-2xl md:text-5xl font-semibold px-4 md:px-0">
    Engineer Call
  </div>
</div>
<div class="max-w-3xl mx-auto">
  <div class="w-full p-4">
    <div class="p-4 border-2 border-indigo-800 rounded-lg bg-indigo-100 px-4 py-6 md:px-6 rounded shadow">
      <div class="font-semibold text-md md:text-3xl">
        Call for Volunteers - VR Developers
      </div>
      <div class="text-md md:text-lg">
        <p class="mt-4">
          State Disaster Management Authority (SDMA) invites applications for Virtual Reality developers volunteers.<br>
          <br>
          About the task:<br>
          1. Work on a VR application to be used by state officials to monitor the Coronavirus outbreak.<br>
          2. Work on Unity (Other Gaming Engine) / Blender (Other 3D Modelling tools) to build a VR application
          (preferably for Oculus Go and Quest device).<br>
          3. Work with the backend team to ensure you have all the necessary information to work on the application.<br>
          4. The idea is to have the quick MVP out in a couple of days and take it from there.<br>
          <br>
          About you:<br>
          1. Have the courage and genuine curiosity to work on Virtual Reality and be part of select like-minded
          individuals.<br>
          2. Want to play a role by helping with what you can do in this worldwide pandemic of Coronavirus outbreak.<br>
          3. Want to work on a real life-real time Virtual Reality project.<br>
          4. Have previously worked on VR project(s) and are a proficient VR developer.<br>
          5. You should understand using Rest APIs.<br>
        </p>
      </div>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScO6D9ZkQI5awtkFfatiHJcXVyhUFZGgTaKj_ynP-duGNIEYw/viewform?usp=sf_link" target="_blank" class="btn-primary btn mt-4 ">Apply
        Now
      </a>
    </div>
  </div>
  <div class="w-full p-4">
    <div class="p-4 border-2 border-red-800 rounded-lg bg-red-100 px-4 py-6 md:px-6 rounded shadow">
      <div class="font-semibold text-md md:text-3xl">
        Call For Engineering Volunteers
      </div>
      <div class="text-md md:text-lg">
        <p class="mt-4">
          1. CoronaSafe Network is a an open-source public utility designed by a multi-disciplinary team of
          volunteers along with the Government of Kerala
        </p>
        <p class="mt-4">
          2. The goal is to create a volunteer run defence network to protect the healthcare system of a state or
          nation against the corona virus attack.
        </p>
        <p class="mt-4">
          3. There are currently more than 20 applications that are running live which are designed to give the
          Chief Minister’s office and general public live information about Hospital Bed Capacity Utilisation,
          Corona Care Canters Capacity Utilisation, Inventory Management, Volunteer Management, Patient Management,
          Food Management, Ambulance Network and other features.
        </p>
        <p class="mt-4">
          4. We are extremely short on software engineering talent and require immediate and urgent reinforcements
          from the software engineering community to setup the full network and put in on trial run by March 28th,
          2020.  
        </p>
      </div>
      <a href="https://docs.google.com/forms/d/1_ZmCzJzR3RdnP8TQ-SBlvn0SY_vhLZ7r8BQo068BU1Q/viewform?edit_requested=true" target="_blank" class="btn-primary btn mt-4 ">Apply
        Now
      </a>
    </div>
  </div>
</div>