<div class="max-w-3xl mx-auto">
  <div class="text-2xl md:text-5xl font-semibold px-4 md:px-0">
    Engineer Call
  </div>
</div>
<div class="max-w-3xl mx-auto">
  <div class="w-full p-4">
    <div class="p-4 border-2 border-green-800 rounded-lg bg-green-200 px-4 py-6 md:px-6 rounded shadow">
      <div class="font-semibold text-md md:text-3xl">
        Call For Medical Volunteers
      </div>
      <div class="text-md md:text-lg">
        <p class="mt-4">
          The state of kerala has taken effective steps against the COVID- 19 pandemic. The efforts to break the
          transmission chain of the virus is possible with support of the community . The Department of Health and
          Family welfare calls out for participation of the health practitioners to join hands with the state in the
          fight against COVID-19 . You may enroll using the link provided below for offering voluntary service at
          the Isolation facilities in hospitals/ homes, patient management in wards, screening at airports,
          seaports, railway stations and bus stations. Interested health practitioners may fill up the details in
          this form and submit. The Department of health and family welfare, kerala shall contact you soon.
        </p>
      </div>
      <a href="https://forms.gle/3FtcS7ovp1YGG9539" target="_blank" class="btn-primary btn mt-4 ">Apply
        Now
      </a>
    </div>
  </div>
</div>